{% extends "base.html" %}
{% block title %}Script list{% endblock %}
{% block head %}
{{ super() }}
<script type="module" src="/static/list.js"></script>
{% endblock %}
{% block content %}
<p>Server state: <span id="server_status">OFFLINE</span></p>
<h1>Script list</h1>
<ul>
    {% for num, id, name in scriptlist %}
    <li id="script_list_item_{{ num }}" class="script_list_items"><a href="/scripts/{{ id }}">{{ name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
