{% extends "base.html" %}
{% block title %}404 error{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>404 error</h1>
<p>No such script. Select existing one from <a href="/">list</a></p>
{% endblock %}
