{% extends "base.html" %}
{% block title %}{{ script["name"] }}{% endblock %}
{% block head %}
{{ super() }}
<script type="module" src="/static/script.js"></script>
{% endblock %}
{% block content %}
<p>Server state: <span id="server_status">OFFLINE</span></p>
<button id="start_script" type="button" disabled>Start</button>
<button id="stop_script" type="button" disabled>Stop</button>
<button id="clear_script" type="button" disabled>Clear</button>
<button id="zip_logs" type="button" disabled>Zip logs</button>
<button id="download_logs" type="button" disabled>Download logs</button>
<p id="server_message"></p>
<a href="/">Back to script list</a>

<h1>{{ script["name"] }}</h1>
{% if script["desc"] is not none() %}
<p>{{ script["desc"] }}</p>
{% endif %}
<ul>
{% for num, stage in stagelist %}
    <li id="stage_list_item_{{ num }}" class="stage_list_items">
	<p>{{ stage["title"] }}</p>
	{% if stage["type"] == "file" %}
	<p class="hidden_element">{{ stage["ref"] }}</p>
	{% endif %}
	{% if stage["type"] == "tail" %}
	<p class="hidden_element output_element" style="display: none; white-space: break-spaces;"></p>
	<button id="confirm_input_{{ num }}" class="confirm_input hidden_element" style="display: none;" type="button">Ok</button>
	{% endif %}
	{% if stage["type"] == "message" %}
	<span class="hidden_element output_element" style="display: none;"></span>
	<button id="confirm_input_{{ num }}" class="confirm_input hidden_element" style="display: none;" type="button">Ok</button>
	{% endif %}
	{% if stage["type"] == "checkbox" %}
	<span class="hidden_element output_element" style="display: none;"></span>
	<input type="checkbox" class="hidden_element output_element input_element" style="display: none;"/>
	<button id="confirm_input_{{ num }}" class="confirm_input hidden_element" style="display: none;" type="button">Ok</button>
	{% endif %}
	{% if stage["type"] == "list" %}
	<span class="hidden_element output_element" style="display: none;"></span>
	<select class="hidden_element output_element input_element" style="display: none;"></select>
	<button id="confirm_input_{{ num }}" class="confirm_input hidden_element" style="display: none;" type="button">Ok</button>
	{% endif %}
    </li>
{% endfor %}
</ol>
{% endblock %}
